.item {
    border: 1px solid #fff;
}
.img {
    background-size: cover;
    width: 100%;
    height: 200px;
    background-position: center;
    background-repeat: no-repeat;
}
.info {
    padding-left: 20px;
    padding-bottom: 20px;
}